#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;

    /* cursor: pointer; */
}

#canvas {
    transition: transform 2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.overlay-btn {
    width: 8.5em;
    height: 3.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
   
.overlay-btn:hover {
    color: black;
}
   
.overlay-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
   
.overlay-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#bottom-nav {
    position: fixed;
    bottom: 0;
    z-index: 2;
    color: white;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.7);

    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#bottom-nav ul li {
}