#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;

    /* cursor: pointer; */
}

#intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

#canvas {
    transition: transform 2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#bottom-nav {
    position: fixed;
    bottom: 0;
    z-index: 2;
    color: white;
}

#bottom-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#bottom-nav ul li {
    width: 100px;
}